@using Development.Models;
@model IEnumerable<Enrollment>
@{
    Layout = null;
}
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Course.Number @s.Course.Department.Name</td>
            <td>@s.Course.Title</td>
            <td></td>
        </tr>
    }

