.dashboard-panel > .bootstrap-table{
    height: 200px;
    overflow: auto;
}

.dashboard-panel-h3{
    display: flex;
    justify-content: center;
}

.dashboard-panel-h3 > span{
    align-self: center;
    background-color: #AD0000;
    margin-right: 5px;
    font-size: 0.75em;
    padding: 5px 8px;
}

#DashboardWelcomeText{
        font-family: 'Meriweather Sans', sans-serif;
        font-size: 2.5em;
        font-weight: 100;
}