
#content{
    padding-top: 15px;

}

#logo{
    max-width: 200px;
    padding-top: 23px;
}

.center{
    margin: 0 auto;
    display: table;
}

.navigation-link{
    padding-left: 15px;
    padding-right: 15px;
    height: 75px;
    display: flex;
    color: #aaa;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Meriweather Sans', sans-serif;
    text-transform: uppercase;
}

.navigation-link > span{
    /* Center this */
}

.navigation-link-active{
    padding-top: 5px;
    background-color: #222;
    color: white;
    box-shadow: inset 0px -5px 15px -5px #111;
    border-bottom-color: #AD0000;
    border-bottom: 5px solid #AD0000;
}

.navigation-link:hover{
    background-color: #222;
    color: white;
    text-decoration:none;
    box-shadow: inset 0px -5px 15px -5px #111;
}

.navigation-link > span{
    align-self: center;
}

#navigation-link-container{
    height: 75px;
    align-items: stretch;
    display: flex;
}

#navbar{
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index:1;
    box-shadow: inset 0px -5px 15px -5px #111;
}

#navigation{
    margin-top: 15px;

}

#container {
    background-image: url('Layout/shattered.png');
    border: 15px;
}
#panel-content{
    margin-top: 100px;
}
#content{
    padding: 25px;

}

.panel-default > .panel-heading{
    text-align: center;
    background-color: #333;
    color: white;

}

.panel-default > .panel-heading > h3{
    margin: 3px;
    font-family: 'Segoe UI';
    font-weight: 400;
}

#content-row{
    padding: 15px;
}

#toolbar{
    position: fixed;
    top: 75px;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 1;
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: #999;
}

/* TOOLBAR STYLING */
#toolbar-menu{
    padding-top: 0px;
}

#context-row{
    padding-left: 35px;
    padding-top: 6px;
}

.context-label{
    padding-top: 7px;
    text-align: right;
}
.context-div{
    padding-left: 5px;
    padding-right: 5px;
}

/* BREAD CRUMB STYLING*/

#breadcrumb{
    background-color: white;
    padding: 0px;
    padding-top: 13px;
    margin-bottom: 0px;
    align-content: flex-end;
}

#breadcrumb > li > a{
    color: #ad0000
}

#breadcrumb-container{
    display: flex;
    justify-content: flex-end;
}

/* MISC */
.dark-hr{
    border-top-color: #ccc;
    margin: 5px;
}

/*
.glyphicon{
    color: #999;
}

.glyphicon:hover{
    color: #AD0000;
    cursor: pointer;
}*/

/* Custom Bootstrap Tables*/
.page-pre > a{
    color: #AD0000;
}

.page-next > a{
    color: #AD0000;
}

ul.pagination > li.active > a{
    background-color: #AD0000;
    border-color: #720000;
}
ul.pagination > li > a{
  color: #AD0000;
}
