#content{
    padding-top: 15px;

}

#logo{
    max-width: 180px;
}

.center{
    margin: 0 auto;
    display: table;
}

#navbar{
    background-color: #444;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index:1;
    border-bottom: 5px solid black;
}

#navigation{
    display: table;
    margin: 0 auto;
    margin-top: 15px;

}

#navigation > li > a{
    font-size: 1.2em;
    font-weight: 200;
    color: white;
}

#navigation > li.active > a{
    background-color: #000;
}

#navigation > li > a:hover{
    background-color: #777;
}

#container {
    background-image: url('Layout/brickwall.png');
    border: 15px;
    min-height: 100vh;
}
#panel-content{
    margin-top: 100px;
}
#content{
    padding: 25px;

}

.panel-default > .panel-heading{
    text-align: center;
    background-color: #333;
    color: white;

}

.panel-default > .panel-heading > h3{
    margin: 3px;
    font-family: 'Segoe UI';
    font-weight: 400;
}


.nav-pills > li > a{
    font-size: 1.2em;
    font-weight: 200;
    color: #333;
}

.nav-pills > li.active > a{
    background-color: #333;
}

.nav-pills > li.active > a:hover{
    background-color: #111;
}

.nav-pills > li.active > a:focus{
    background-color: #222;
}

#content-row{
    padding: 15px;
}


