#progress-student-sp > tbody > tr .progress-student-selected-student{
    background-color: #444;
    color: white;
}

#progress-view-buttons > .btn > div{
    font-size: 1.5em;

}

.progress-placeholder{
    height: 100px;
    border: 3px #eee dashed;
    padding-top: 35px;
}

.progress-placeholder > h4{
    color: #bbb;
}