@using _420Project.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
}
<script>
    $(document).ready(function () {
        $('#nav-home').addClass('active');

        $("#content-dashboard").hide();
        $("#content-dashboard").removeClass('hidden');
        $("#content-dashboard").show('blind', {}, 300);
    })
</script>
<!-- Links container-->
<div id="content-dashboard" class="row hidden">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Dashboard/Development">
                                <div class="center glyphicon glyphicon-calendar dash-icon"></div>
                                <h2>News + Events</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Dashboard/Development">
                                <div class="center glyphicon glyphicon-envelope dash-icon"></div>
                                <h2>Messaging</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Dashboard/Development">
                                <div class="center glyphicon glyphicon-ok dash-icon"></div>
                                <h2>Advising</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Reports">
                                <div class="center glyphicon glyphicon-file dash-icon"></div>
                                <h2>Reports</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Progress">
                                <div class="center glyphicon glyphicon-list dash-icon"></div>
                                <h2>Progress</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="col-xs-12 panel panel-default dashboard-panel">
                    <div class="panel-body">
                        <div class="col-xs-12 text-center">
                            <a href="/Dashboard/Development">
                                <div class="center glyphicon glyphicon-cog dash-icon"></div>
                                <h2>My Account</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div well>
            <a href="@Url.Action("Index", "Admin")" class="navbar-brand"><h6>Temp Admin Link</h6></a>
        </div>

    </div>
</div>

