@using _420Project.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Dashboard.css" rel="stylesheet" />
}
@section head{
    <script>
    $(document).ready(function () {
        $('#nav-home').addClass('active');

        $("#content-dashboard").hide();
        $("#content-dashboard").removeClass('hidden');
        $("#content-dashboard").show('blind', {}, 300);
    });
</script>
}
<!-- Links container-->
<div id="content-dashboard" class="row hidden">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-3">
                <div class="panel-default panel">
                    <div class="panel-body">
                        <h1 class="col-xs-4">
                            <span class="glyphicon glyphicon-ok"></span>
                        </h1>
                        <h3 class="text-center col-xs-8"><b>42</b> Out of Compliance</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel-default panel">
                    <div class="panel-body">
                        <h1 class="col-xs-4">
                            <span class="glyphicon glyphicon-cog"></span>
                        </h1>
                        <h3 class="text-center col-xs-8"><b>350</b> Enrolled Students</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel-default panel">
                    <div class="panel-body">
                        <h1 class="col-xs-4">
                            <span class="glyphicon glyphicon-stats"></span>
                        </h1>
                        <h3 class="text-center col-xs-8"><b>3.5</b> Average GPA</h3>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="panel-default panel">
                    <div class="panel-body">
                        <h1 class="col-xs-4">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </h1>
                        <h3 class="text-center col-xs-8"><b>50</b> Days to Semester End</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4">
                <div class="panel panel-default dashboard-panel">
                    <div class="panel-heading">
                        <h3 class="dashboard-panel-h3"><span class="badge">100</span>Notifications</h3>
                    </div>
                    <table id="dashboard-notifications" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                        <thead>
                            <tr>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= 100; i++)
                            {
                                <tr>
                                    <td>Test Notification</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="panel panel-default dashboard-panel">
                    <div class="panel-heading">
                        <h3 class="dashboard-panel-h3"><span class="badge">100</span>To Do</h3>
                    </div>
                    <table id="dashboard-todo" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                        <thead>
                            <tr>
                                <th class="col-xs-1"></th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= 100; i++)
                            {
                                <tr>
                                    <td><span class="glyphicon glyphicon-ok"></span></td>
                                    <td>Test Todo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="panel panel-default dashboard-panel">
                    <div class="panel-heading">
                        <h3 class="dashboard-panel-h3"><span class="badge">100</span>Events</h3>
                    </div>
                    <table id="dashboard-event" class="panel-body table-striped" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="">
                        <thead>
                            <tr>
                                <th class="col-xs-3">Date</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= 100; i++)
                            {
                                <tr>
                                    <td>3-1-2017</td>
                                    <td>Test Event</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Control Panel</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-8">
                            <h3 class="text-center">Manage</h3>
                            <div class="well col-xs-12 row">
                                <div class="col-xs-6">
                                    <h4>Events</h4>
                                    <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                    <a href="/Event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Event</a>
                                    <br /><br />

                                    <h4>Todo</h4>
                                    <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                    <a href="/Event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Event</a>
                                    <br /><br />

                                    <h4>Students</h4>
                                    <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                    <a href="/Event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Event</a>
                                    <br /><br />

                                </div>
                                <div class="col-xs-6">
                                    <h4>Semesters</h4>
                                    <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                    <a href="/Event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Event</a>
                                    <br /><br />

                                    <h4>Programs</h4>
                                    <a href="/Event/Index" class="btn btn-primary">Manage Events</a>
                                    <a href="/Event" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add Event</a>
                                    <br /><br />

                                </div>                              
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="text-center">Actions</h3>
                            <div class="well row col-xs-12">
                                <h4>Communicate</h4>
                                <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>New Message</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div well>
    <a href="@Url.Action("Index", "Admin")" class="navbar-brand"><h6>Temp Admin Link</h6></a>
</div>


