@{
    Layout = null;
}
<h4>Events</h4>
<a href="/Event/Index" class="btn btn-primary">Manage Events</a>
<a href="/Event/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create Event</a>
<br /><br />