@{ 
    Layout = null;
}
<h4>Students</h4>
<a href="/Advising/" class="btn btn-primary">Manage Students</a>
<a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create Student</a>
<br /><br />