@{ 
    Layout = null;
}

<div class="col-xs-4">
    <div class="panel panel-default panel-main">
        <div class="panel-heading"><h3>Students</h3></div>
        <div class="panel-body"></div>
    </div>
</div>

<div class="col-xs-8">
    <div class="panel panel-default panel-main">
        <div class="panel-heading"><h3>Enrollments</h3></div>
        <div class="panel-body"></div>
    </div>
</div>