@{ 
    Layout = null;
}
<div class="col-xs-5">
    <div class="col-xs-12">
        <div class="well">
            <h3>Semester:</h3>
            <h3>Program:</h3>
        </div>
    </div>
    <div class="col-xs-12">
        <table id="enrollment-student-enrolled-courses" class="table table-striped" data-toggle="table" data-pagination="true" data-page-size="20" data-page-list="[20,50,100,500]">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody id="enrollment-student-enrolled-courses-body">
                <tr class="enrollment-student-enrolled-courses-row">
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-7"></div>
