@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section navlinkenr{
    navigation-link-active
}
<script>
    $(document).ready(function () {



        // Change color of views
        $('.EnrollmentViewButton').click(function () {
            $('.EnrollmentViewButtonCurrent').removeClass('btn-danger');
            $('.EnrollmentViewButtonCurrent').addClass('btn-default');
            $('.EnrollmentViewButtonCurrent').removeClass('EnrollmentViewButtonCurrent');
            $(this).removeClass('btn-default');
            $(this).addClass('btn-danger');
            $(this).addClass('EnrollmentViewButtonCurrent');

        })

        //Open student view by default
        $.ajax({
            type: "GET",
            url: "@(Url.Action("_Student", "Enrollment"))",
            success: function (data) {

            $('#EnrollmentView').hide();
            $('#EnrollmentView').removeClass("hidden");
            $('#EnrollmentView').html(data);
            $("#EnrollmentView").show('fade', { duration: 300, easing: 'easeInCirc' });
        },
        error: function (data) {
        }
    })
    })
</script>



<div class="col-xs-12">
        <div class="btn btn-danger EnrollmentViewButton EnrollmentViewButtonCurrent panel-main">
            <h4><span class="glyphicon glyphicon-user"></span></h4>
            <h4>Student View</h4> 
        </div>
        <div class="btn btn-default EnrollmentViewButton panel-main">
            <h4><span class="glyphicon glyphicon-list"></span></h4>
            <h4>Course View</h4>
        </div>
    <br />
    <br />
</div>

<div id="EnrollmentView">
    
</div>