@model _420Project.Models.GroupFilter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GroupFilter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToDoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupFilterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
