
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<h4><a href="/Courses">Courses</a></h4>
<h4><a href="/Departments">Departments</a></h4>
<h4><a href="/Enrollments">Enrollments</a></h4>
<h4><a href="/Programs">Programs</a></h4>
<h4><a href="/ProgramCourses">ProgramCourses</a></h4>
<h4><a href="/Semesters">Semesters</a></h4>
<h4><a href="/StudentPrograms">StudentPrograms</a></h4>
<h4><a href="/Students">Students</a></h4>
