
@{
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    ViewBag.Title = "Index";
}
@section navlinkadmin{
    navigation-link-active
}
@section panelHeading{
Admin
}

<div class="row">
    <div class="col-xs-4">
        <fieldset>
            <legend>Courses</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>Departments</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>Enrollments</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
        <br />
        <br />
    </div>

</div>

<div class="row">
    <div class="col-xs-4">
        <fieldset>
            <legend>Programs</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>ProgramCourses</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>Semesters</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <fieldset>
            <legend>StudentPrograms</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>Students</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
    </div>

    <div class="col-xs-4">
        <fieldset>
            <legend>Advisors</legend>
            <a href="/Courses" class="btn btn-default">Manage Students</a>
            <a href="/Courses/Create" class="btn btn-success">Createe Students</a>
        </fieldset>
        <br />
        <br />
    </div>
</div>

