
@{
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    ViewBag.Title = "Index";
}
@section navlinkadmin{
    navigation-link-active
}
@section panelHeading{
Administration
}

<div class="row">

    <div class="col-xs-12">
        <fieldset><legend>Administration</legend></fieldset>
    </div>

    <div class="col-sm-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Object</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Advisors</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminAdvisors/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminAdvisors/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Campus</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminCampus/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminCampus/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Compliances</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminCompliances/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminCompliances/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Courses</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminCourses/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminCourses/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Departments</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminDepartments/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminDepartments/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Enrollments</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminEnrollments/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminEnrollments/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Events</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminEvents/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminEvents/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Petitions</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminPetitions/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminPetitions/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Program Courses</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminProgramsCourses/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminProgramCourses/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Programs</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminPrograms/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminPrograms/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Semesters</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminSemesters/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminSemesters/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>

                <tr>
                    <td>Student Compliances</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminStudentCompliances/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminStudentCompliances/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Student Petitions</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminStudentPetitions/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminStudentPetitions/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Student Programs</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminStudentPrograms/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminStudentPrograms/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Students</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminStudents/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminStudents/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>

                <tr>
                    <td>To Do</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminToDoes/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminToDoes/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>User ToDoes</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminUserToDoes/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminUserToDoes/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>User Events</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminUserEvents/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminUserEvents/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Notifications</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminNotifications/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminNotifications/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Group Filters</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminGroupFilters/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminGroupFilters/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>User Notifications</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminUserNotifications/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminUserNotifications/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
                <tr>
                    <td>Student Plan</td>
                    <td class="col-xs-4 text-center">
                        <a href="/AdminStudentPlan/Index" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span></a>
                        <a href="/AdminStudentPlan/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="col-xs-12">
        <p>
            @Html.ActionLink("Register as a new user", "Register")
        </p>
    </div>

</div>
