@{
    ViewBag.Title = "Index";
}
@section navlinkrep{
        navigation-link-active
}
            <!-- Trigger the modal with a button -->
<button id="advising-group-filters" type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#group-filter-modal"><span class="glyphicon glyphicon-filter"></span> Filter</button>

<!-- Modal -->
<div id="group-filter-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter Options</h4>
            </div>
            <div id="group-filter-modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="ReportCloseModel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default panel-main">
            <div class="panel-body">

                <table id="report-table" data-show-export="true" class="panel-body table" data-search="true" data-show-columns="true" data-pagination="true" data-id-table="advancedTable"  data-toolbar="#advising-group-filters">
                    <thead>
                        <tr>
                            <th data-field="fname" data-sortable="true">First Name</th>
                            <th data-field="lname" data-sortable="true">Last Name</th>
                            <th data-field="status" data-sortable="true">Status</th>
                            <th data-field="year" data-sortable="true">Year</th>
                            <th data-field="campus" data-sortable="true">Campus</th>
                            <th data-field="compliance1" data-sortable="true">Compliance 1</th>
                            <th data-field="compliance2" data-sortable="true">Compliance 2</th>
                            <th data-field="compliance3" data-sortable="true">Compliance 3</th>
                            <th data-field="compliance4" data-sortable="true">Compliance 4</th>
                            <th data-field="compliance5" data-sortable="true">Compliance 5</th>
                            <th data-field="compliance6" data-sortable="true">Compliance 6</th>
                            <th data-field="compliance7" data-sortable="true">Compliance 7</th>
                            <th data-field="program1" data-sortable="true">Enrolled Program</th>
                            <th data-field="gpa" data-sortable="true">GPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= 100; i++)
                        {
                            <tr>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Program</td>
                                <td>Status</td>
                                <td>Year</td>
                                <td>Louisville</td>
                                <td>Approved</td>
                                <td>Approved</td>
                                <td>Pending</td>
                                <td>Approved</td>
                                <td>Denied</td>
                                <td>Approved</td>
                                <td>BSN - LD</td>
                                <td>3.5</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script>
    $('#report-table').bootstrapTable({
        options: {
            advancedSearch: true
        }
    });

    // Get group filter options
    $.ajax({
        type: "GET",
        url: "@(Url.Action("_List", "GroupStuff"))",
        success: function (data) {
        $('#group-filter-modal-body').html(data);
    },
    error: function (data) {
    }
    })
</script>

