@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-12 text-left"><b>Title</b></div>
    <div class="col-md-12">
        <p>Event Title</p>
    </div>

    <div class="col-md-12 text-left"><b>Date</b></div>
    <div class="col-md-12">
        <p>3/8/2017 8:00PM</p>
    </div>

    <div class="col-md-12 text-left"><b>Description</b></div>
    <div class="col-md-12">
        <p>This is a test description for an event item. This is a test description for an event item. This is a test description for an event item. This is a test description for an event item.</p>
    </div>
</div>