@using _420Project.ViewModels;
@model AdvisingStudentDetailViewModel

@{ 
    Layout = null;
}
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@(Url.Action("_StudentCompliance", "Advising"))",
            success: function (data) {
                $('#advising-student-details-tabs').html(data);
            },
        error: function (data) {
            alert('error');

         }
         })
    })
</script>
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="advising-heading"><b>@Model.Student.FirstName @Model.Student.LastName</b></h3>
            <hr class="dark-hr" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="col-xs-12">
                <h4><b>GPA:</b> 3.5</h4>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Placeholder for TODOS and EVEMTs</h1>
    </div>
</div>

<div class="row" id="advising-student-details-tabs">
    
 </div>