@using _420Project.Models;
@{ 
    Layout = null;
}
@model List<Student>

@foreach (var s in Model)
{
    <tr class="advising-student-row" style="cursor: pointer;">
        <td>@s.FirstName @s.LastName</td>
    </tr>
}
