<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="advising-heading"><b>Student Name 1</b></h3>
            <hr class="dark-hr" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="col-xs-12">
                <h4><b>GPA:</b> 3.5</h4>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>