@{
    Layout = null;
}

<script>
    $(document).ready(function () {

        $('#advising-tab-compliance').click(function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("Compliance", "Advising"))",
                success: function (data) {
                    $('.advising-tab-active').removeClass('active');
                    $('.advising-tab-active').removeClass('advising-tab-active');
                    $('#advising-tab-compliance').parent().addClass('active');
                    $('#advising-tab-compliance').parent().addClass('advising-tab-active');
                    $('#advising-tab-content').html(data);
                },
            error: function (data) {
                alert('error');
            }
        })           
        })

        $('#advising-tab-program').click(function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("Program", "Advising"))",
                success: function (data) {
                    $('.advising-tab-active').removeClass('active');
                    $('.advising-tab-active').removeClass('advising-tab-active');
                    $('#advising-tab-program').parent().addClass('active');
                    $('#advising-tab-program').parent().addClass('advising-tab-active');
                    $('#advising-tab-content').html(data);
                },
            error: function (data) {
                alert('error');
            }
            })
        })

        $('#advising-tab-plan').click(function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("Plan", "Advising"))",
                success: function (data) {
                    $('.advising-tab-active').removeClass('active');
                    $('.advising-tab-active').removeClass('advising-tab-active');
                    $('#advising-tab-plan').parent().addClass('active');
                    $('#advising-tab-plan').parent().addClass('advising-tab-active');
                    $('#advising-tab-content').html(data);
                },
            error: function (data) {
                alert('error');
            }
        })
        })

        $('#advising-tab-petition').click(function () {

            $.ajax({
                type: "GET",
                url: "@(Url.Action("Petition", "Advising"))",
                success: function (data) {
                    $('.advising-tab-active').removeClass('active');
                    $('.advising-tab-active').removeClass('advising-tab-active');
                    $('#advising-tab-petition').parent().addClass('active');
                    $('#advising-tab-petition').parent().addClass('advising-tab-active');
                    $('#advising-tab-content').html(data);
                },
            error: function (data) {
                alert('error');
            }
        })
    })


    })
</script>
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="advising-heading"><b>Student Name 1</b></h3>
            <hr class="dark-hr" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="col-xs-12">
                <h4><b>GPA:</b> 3.5</h4>
            </div>
        </div>
        <div class="col-xs-6">

        </div>
    </div>
</div>


<ul id="advising-tabs" class="nav nav-tabs">
    <li role="presentation" class="active advising-tab-active"><a id="advising-tab-compliance" href="#">Compliance</a></li>
    <li role="presentation"><a id="advising-tab-program" href="#">Program</a></li>
    <li role="presentation"><a id="advising-tab-plan" href="#">Plan</a></li>
    <li role="presentation"><a id="advising-tab-petition" href="#">Petition</a></li>
</ul>
<div id="advising-tab-content">
    <br />
    


</div>
<script>

    $('#advising-tab-compliance').click();
</script>
