@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/Advising.css" rel="stylesheet" />
}
@section context{
    <p><b>Program:</b></p>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>
}
<script>
    $(document).ready(function () {
        $('#advising-student-body').on("click", ".advising-student-row", function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("Advising", "Advising"))",
            success: function (data) {
                $('#advising-panel').html(data);
            },
            error: function (data) {
                alert('error');

            }
        })
        })
    })


</script>
<div class="col-xs-5">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Students</h3></div>
        <table id="advising-student" class="panel-body table table-striped" data-toggle="table" data-pagination="true" data-page-size="20" data-page-list="[20,50,100,500]">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>GPA</th>
                    <th>Program</th>
                    <th>Compliance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="advising-student-body">
                @for (int i = 1; i <= 100; i++)
                {
                    <tr class="advising-student-row">
                        <td>Student 1</td>
                        <td>3.5</td>
                        <td>BSN</td>
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        <td><span class="glyphicon glyphicon-envelope"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="col-xs-7">
<div class="panel panel-default">
    <div class="panel-heading"><h3>Advising</h3></div>
    <div id="advising-panel" class="panel-body">
        <div id="placeholder">
            
        </div>

    </div>  
    </div>
</div>


<script>
    $('#advising-student').bootstrapTable({

    });
</script>
