<!-- Advising Index -->
@using _420Project.Models;
@model IEnumerable<Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/Advising.css" rel="stylesheet" />
}

<!-- Set navbar to 'Advising' -->
@section navlinkadv{
    navigation-link-active
}
<!-- JS -->
<script>
    $(document).ready(function () {

        //Populate list of students
        $.ajax({
            type: "GET",
            url: "@(Url.Action("_Students", "Advising"))",
            success: function (data) {

                $('#advising-student').hide();
                $('#advising-student').removeClass("hidden");
                $('#advising-student-body').html(data);

                $("#advising-student").show("blind", { "direction": 'up' }, 500);
            },
        error: function (data) {
             }
            })

        // Get group filter options
        $.ajax({
            type: "GET",
            url: "@(Url.Action("_List", "GroupStuff"))",
            success: function (data) {
                $('#group-filter-modal-body').html(data);
            },
        error: function (data) {
           }
        })


        $('#group-filters-apply').click(function () {

        })

        // Fires when user clicks on a student
        // Updates advising area with student information
        $('#advising-student-body').on("click", ".advising-student-row", function () {
            $(".advising-student-active").removeClass("danger");
            $(".advising-student-active").removeClass("advising-student-active");
            $(this).addClass("advising-student-active");
            $(this).addClass("danger");

            var data = {id: $(this).attr("data-student-id")};

            $.ajax({
                type: "GET",
                data: data,
                url: "@(Url.Action("_StudentDetails", "Advising"))",
            success: function (data) {
                $('#advising-panel').html(data);
            },
            error: function (data) {
                alert('error');

            }
          })
        })
    })
</script>

<!-- Left Panel (Students)-->
<div class="col-xs-4">
    <div class="panel panel-default panel-main">
        <div class="panel-heading">
            <h3>Students</h3>
        </div>
        <div class="panel-body">
            <!-- Trigger the modal with a button -->
            <button id="advising-group-filters" type="button" class="btn btn-danger btn-md" data-toggle="modal" data-target="#group-filter-modal"><span class="glyphicon glyphicon-filter"></span> Filter</button>


            <div id="advising-student-select-table">
                <table id="advising-student" class="table table-striped" data-toggle="table" data-pagination="true" data-page-size="20" data-page-list="[20,50,100,500]" data-search="true" data-toolbar="#advising-group-filters">
                    <thead>
                        <tr>
                            <th>Student</th>
                        </tr>
                    </thead>
                    <tbody id="advising-student-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Right Panel (Advising) -->
<div class="col-xs-8">
<div class="panel panel-default panel-main">
    <div id="advising-panel" class="panel-body">
        <div class="text-center">
            <h3 id="placeholder" class="text-center">Please Select a Student...</h3>
        </div>

    </div>  
    </div>
</div>

<!-- Modal -->
<div id="group-filter-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Filter Options</h4>
            </div>
            <div id="group-filter-modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $('#advising-student').bootstrapTable({

    });
</script>

<!-- Toolbar: Removed from production -->
@*
    @section context{
    <div id="advising-status-filter" class="col-xs-2">
        <a href="/Dashboard" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
    </div>
    <div id="advising-status-filter" class="col-xs-2">
        <div class="btn btn-danger disabled"><span class="glyphicon glyphicon-filter"></span> Filter</div>
    </div>

    <div id="advising-status-filter" class="col-xs-3">
        <input type="text" class="form-control" placeholder="Enter name here...">
    </div>

    <div id="advising-program-filter" class="col-xs-3">
        <p class="col-xs-6 text-right context-label context-div"><b>Program:</b></p>
        <div class="col-xs-6 dropdown context-div">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                All
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">BSN</a></li>
                <li><a href="#">Masters</a></li>
            </ul>
        </div>
    </div>

    <div id="advising-status-filter" class="col-xs-2">
        <p class="col-xs-6 text-right context-label context-div"><b>Status:</b></p>
        <div class="col-xs-6 dropdown context-div">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                All
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">None</a></li>
                <li><a href="#">Pending</a></li>
                <li><a href="#">Denied</a></li>
                <li><a href="#">Approved</a></li>
            </ul>
        </div>
    </div>
    }
*@