@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/Progress.js" type="text/javascript"></script>
}
@section css{
    <link href="~/Content/Progress.css" rel="stylesheet" />
}
<script>
    $(document).ready(function () {
        $('#nav-progress').addClass('active');
        $('#progress-student-button').click();

        $('#progress-view-student-button').click(function () {
            $('#progress-student-button').click();
        })

        $('#progress-view-roster-button').click(function () {
            $('#progress-roster-button').click();
        })
    })
</script>
<div class="hidden">
    @Ajax.ActionLink(" Student View",
    "Student",
    new { },
    new AjaxOptions
    {
        UpdateTargetId = "progress-content",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @id = "progress-student-button", @class = "progress-view-link" })


    @Ajax.ActionLink(" Roster View",
    "Roster",
    new { },
    new AjaxOptions
    {
        UpdateTargetId = "progress-content",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    },
    new { @id = "progress-roster-button", @class = "progress-view-link" })
</div>

<div id="progress-view-buttons">
    <div id="progress-view-student-button" class="btn btn-default">
        <div class="glyphicon glyphicon-user"></div>
        <h4>STUDENT VIEW</h4>
    </div>

    <div id="progress-view-roster-button" class="btn btn-default">
        <div class="glyphicon glyphicon-list"></div>
        <h4>ROSTER VIEW</h4>
    </div>
</div>

<br />



<div class="well col-xs-12">
    <div id="progress-content">

    </div>
</div>
<script>
    $(document).ready(function () {


    })
</script>