@using _420Project.Models;
@model IEnumerable<Enrollment>
@{
    Layout = null;
}
<table class="panel-body">
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.Course.Number @s.Course.Department.Name</td>
            <td>@s.Course.Title</td>
            <td></td>
        </tr>
    }
</table>
